#circle{
    border-radius: 50%;
    border: solid 0.4rem;
    color: $clr_green
}
.body{
	background-image: url(../images/realezaOscuro.jpg);
    background-attachment: fixed;
    height: 100%;
    color: $clr_white;
}
.imgService{
    border-radius: 10%;
    border: solid 0.4rem;
    color: $clr_green;
}