#circle{
    border-radius: 50%;
    @extend .border_green;
}
.body{
	background-image: url(../images/realezaOscuro.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    color: map-get($map: $colors, $key: 'white');
    @include d_flex(column,space-between);
}
.imgGeneral{
    border-radius: 10%;
    @extend .border_green;
}
.border_green{
    border: solid 0.4rem;
    color: map-get($map: $colors, $key: 'green');
}
.page404{
    @include d_flex (column,space-evenly);
    min-height: 100vh;
}
.clr_green{
    color: map-get($map: $colors, $key: 'green');
}
.clr_yellow{
    color: map-get($map: $colors, $key: 'yellow');
}