@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

//vars fonts
$font: 'Nunito Sans', sans-serif;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:1.6em;
$textXl:3em;

//weight
$text_light:400;
$text_bold:700;

.textGreen{
    color: map-get($map: $colors, $key: green1)
}
.bg_color{
	background-color: map-get($map: $colors, $key: grey1)
}
.textCenter{
	text-align: center;
}
.textRight{
	text-align: right;
}
.textLeft{
	text-align: left;
}

