@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.textLeft {
  text-align: left; }

@media screen and (min-width: 200px) {
  .navDecoration {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400; }
    .navDecoration .nav-link {
      display: flex;
      flex-direction: row-reverse; }
      .navDecoration .nav-link:hover {
        color: #ffbe4d; } }

@media screen and (min-width: 576px) {
  .navDecoration {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    background-color: rgba(47, 55, 48, 0.5);
    border-radius: 2.5rem;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
    margin: auto 0.15rem; }
    .navDecoration:hover {
      color: #ffbe4d;
      background-size: 70% 2px; } }

body nav div button.navbar-toggler:hover {
  color: #4dff70; }

#circle {
  border-radius: 50%; }

.body {
  background-image: url(../images/realezaOscuro.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  color: #d3e9d7;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.imgGeneral {
  border-radius: 10%; }

.border_green, #circle, .imgGeneral {
  border: solid 0.4rem;
  color: #4dff70; }

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh; }

.clr_green {
  color: #4dff70; }

.clr_yellow {
  color: #ffbe4d; }

.bgColor {
  border-radius: 50%;
  background-color: #d3e9d7; }

.footerP {
  margin: 0rem 1rem; }
